<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Perfil</title>
</head>
<body>
    <div class="Principal">
        <div class="Top">
            <h1>
                Perfil
            </h1>
        </div>
        <div class="Middle">
            <input type="file">
            <button type="submit"><label>Alterar foto</label></button>
        </div>
    </div>
</body>
</html>