html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.Container {
    flex: 1; /* Para garantir que o Container ocupe todo o espaço disponível */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.Top {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #f67299, #772976);
    margin: 0;
    padding: 0;
    align-items: flex-end; /* Para alinhar os itens a baixo */
    position: relative;
    height: 70px;
}

.Top h1 {
    margin: 4% 0 0 0;
    padding: 0% 6% 1% 3%;
    /* font-family: Brush Script MT, Brush Script Std, cursive; */
    color: #fff;
    text-shadow: 0.19vh 0.1vh #949697;
    font-size: large;
}

.Top .Sino, .Top .Config {
    position: absolute; /* Para permitir posicionamento absoluto */
    bottom: 0; /* Alinha ao fundo do contêiners*/
    padding: 1% 2% 0 0;
    cursor: pointer;
    /* border: 1px solid #949697; */
}

.Top .Sino {
    right: 45px; 
}

.Top .Config {
    right: 01px;
}


/* .Top .Sino .Config{
    margin: 9.5% 0% 0% 0%;
    margin-left: auto; /* Adiciona espaço à esquerda, empurrando o elemento para a direita 
    padding: 02% 02% 0% 0%;
    cursor: pointer;
    border: #949697;
    border-style: solid;
}
